@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    height: 100%;
}

.container{
    background: url('../assets/images/heathens.webp') center center no-repeat;
    background-size: cover;
    @apply min-h-[100vh] flex justify-center items-center;
}

.card{
    @apply w-[250pt] rounded-[10px] shadow-[0_0_10px_#0000] overflow-hidden bg-slate-500;
}
.icon{
    filter: invert(1);
    @apply cursor-pointer;
}
.play_icon{
    max-height: 40px;
    max-width: 40px;
}
.cond_icon{
    max-height: 30px;
    max-width: 30px;
}

.about_song{
    @apply py-[15px]
    flex justify-center gap-y-[10px] flex-col items-center ;
}
.song-artist {
    @apply text-[20px] text-[rgb(193_255_6)];
}
.song-title{
    @apply text-[17px] text-white;
}
.song_details{
    @apply flex gap-x-[15px];
}
