@tailwind base;
@tailwind utilities;
@tailwind components;

body {
    height: 100%;
}

.container{
    position: relative;
    @apply min-h-[100vh] flex justify-center min-w-[100vw] items-center;
}

.container::after {
    content: '';
    width: 100%;
    height: 100%;
    background: url('../assets/img/img2.jpg') center center no-repeat;
    background-size: cover;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
}

.card{
    /*z-index: 2;*/
    position: absolute;
    z-index: 99;
    @apply w-[270pt] rounded-[10px] shadow-[0_0_10px_#0000] overflow-hidden bg-slate-500;
}
.icon{
    filter: invert(1);
    @apply cursor-pointer;
}
.play_icon{
    height: 50px;
}
.cond_icon{
    max-height: 32px;
}

.about_song{
    @apply py-[15px]
    flex justify-center gap-y-[10px] flex-col items-center ;
}
.song-artist {
    @apply text-[20px] text-[rgb(193_255_6)];
}
.song-name{
    @apply text-[17px] text-white;
}
.song_details{
    @apply flex gap-x-[15px] px-[20px];
}
.song{
    @apply flex flex-col gap-y-[3px];
}
.currentTime{
    float: right;
}